###
# Unity folders and files
###
AdvancedKnights/[Aa]ssets/AssetStoreTools*
AdvancedKnights/[Bb]uild/
AdvancedKnights/[Ll]ibrary/
AdvancedKnights/[Ll]ocal[Cc]ache/
AdvancedKnights/[Oo]bj/
AdvancedKnights/[Tt]emp/
AdvancedKnights/[Uu]nityGenerated/
# file on crash reports
AdvancedKnights/sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
AdvancedKnights/Advanced_Knights/Library/CurrentLayout.dwlt
