###
# Unity folders and files
###
AdvancedKnights/Advanced_Knights/[Aa]ssets/AssetStoreTools*
AdvancedKnights/Advanced_Knights/[Bb]uild/
AdvancedKnights/Advanced_Knights/Library/
AdvancedKnights/Advanced_Knights/[Ll]ocal[Cc]ache/
AdvancedKnights/Advanced_Knights/[Oo]bj/
AdvancedKnights/Advanced_Knights/[Tt]emp/
AdvancedKnights/Advanced_Knights/[Uu]nityGenerated/
# file on crash reports
AdvancedKnights/Advanced_Knights/sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
AdvancedKnights/Advanced_Knights/Library/CurrentLayout.dwlt
