###
# Unity folders and files
###
/AdvancedKnights/Advanced_Knights/Assets/AssetStoreTools*
/AdvancedKnights/Advanced_Knights/Build/
/AdvancedKnights/Advanced_Knights/Library*
/AdvancedKnights/Advanced_Knights/Local[Cc]ache/
/AdvancedKnights/Advanced_Knights/Obj/
/AdvancedKnights/Advanced_Knights/Temp/
/AdvancedKnights/Advanced_Knights/UnityGenerated/
# file on crash reports
/AdvancedKnights/Advanced_Knights/sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
AdvancedKnights/Advanced_Knights/Library/CurrentLayout.dwlt
AdvancedKnights/Advanced_Knights/Advanced_Knights.csproj
AdvancedKnights/Advanced_Knights/Library/assetDatabase3
AdvancedKnights/Advanced_Knights/Library/CurrentLayout.dwlt
AdvancedKnights/Advanced_Knights/Library/metadata/16/16e6efc365ae1494c98050a3f4f387d4.info
AdvancedKnights/Advanced_Knights/Library/metadata/21/21c36643a06213e4fa87089efb03bb85.info
AdvancedKnights/Advanced_Knights/Library/metadata/2c/2c22e9bf186780d4caabe6fe177f9eb2.info
AdvancedKnights/Advanced_Knights/Library/metadata/41/41209c9fea4115941b3f6e773a9c464a.info
AdvancedKnights/Advanced_Knights/Library/metadata/48/481d0af55fe0d9546bb8302cb306fef0.info
AdvancedKnights/Advanced_Knights/Library/metadata/54/54287eb4e7d63974f898ec4550e8a59b.info
AdvancedKnights/Advanced_Knights/Library/metadata/5b/5b1f9a2406a4f4f4a871c90bd1080370
*.info
AdvancedKnights/Advanced_Knights/Library/ScriptAssemblies/Assembly-CSharp.dll
AdvancedKnights/Advanced_Knights/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
AdvancedKnights/Advanced_Knights/Library/CurrentLayout.dwlt
AdvancedKnights/Advanced_Knights/Library/CurrentLayout.dwlt
AdvancedKnights/Advanced_Knights/Library/assetDatabase3
AdvancedKnights/Advanced_Knights/Library/InspectorExpandedItems.asset
AdvancedKnights/Advanced_Knights/Library/assetDatabase3
AdvancedKnights/Advanced_Knights/Library/assetDatabase3
AdvancedKnights/Advanced_Knights/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
AdvancedKnights/Advanced_Knights/Library/metadata/00/00000000000000009000000000000000
AdvancedKnights/Advanced_Knights/Library/assetDatabase3
AdvancedKnights/Advanced_Knights/Library/CurrentLayout.dwlt
AdvancedKnights/Advanced_Knights/Library/ScriptAssemblies/Assembly-CSharp.dll
AdvancedKnights/Advanced_Knights/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
AdvancedKnights/Advanced_Knights/.vs/Advanced_Knights/v15/.suo
AdvancedKnights/Advanced_Knights/Library/assetDatabase3
AdvancedKnights/Advanced_Knights/Library/CurrentLayout.dwlt
AdvancedKnights/Advanced_Knights/Library/assetDatabase3
AdvancedKnights/Advanced_Knights/Library/assetDatabase3
AdvancedKnights/Advanced_Knights/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
AdvancedKnights/Advanced_Knights/Library/CurrentLayout.dwlt
